.account__email {
    position: relative;
    margin-bottom: unset;
}

.account__email-label {
    position: absolute;
    top: -60%;
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.4rem;
}

.account__title {
    margin-bottom: 60px;
}

.account__section {
    margin-top: 18px;
}

.account__label {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 10px;
}

.account__label span {
    font-size: 1.2rem;
    color: rgb(158, 157, 157);
    font-weight: 400;
}

.account__info {
    display: flex;
    position: relative;
}

.account__info-icon {
    text-align: right;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.account__phone-btn {
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    width: 112px;
    height: 44px;
    justify-content: center;
    border-radius: 32px;
    margin-right: 16px;
    cursor: pointer;
}   

.account__phone-flag {
    width: 24px;
    height: 18px;
    position: relative;
    top: 1px;
}

.account__phone-number {
    font-size: 1.6rem;
    color: var(--text-color);
    line-height: 10px;
    margin-left: 4px;
}

.account__phone-number i {
    font-size: 1rem;
    position: relative;
    bottom: 1px;
}

.account__input {
    outline: none;
    border: 1px solid #e6e6e6;
    padding: 8px 20px;
    border-radius: 48px;
    font-size: 1.2rem;
    height: 44px;
}

.account__center {
    font-size: 1.2rem;
    color: #555;
    margin: 30px 0;
}

.account__center a {
    color: #555;
    font-weight: 700;
    transition: all linear 0.3s;
}

.account__center a:hover {
    color: var(--primary-color);
}

.error-email {
    font-size: 1.2rem;
}

.error-phone {
    font-size: 1.2rem;
    margin-left: 45%;
}

.error-pass-again,
.error-pass,
.error-subname,
.error-name {
    font-size: 1.2rem;
}